# Data understanding

As first thing we imported all necessary modules

In [1]:
import pandas as pd

Then we load our dataset

In [2]:
races = pd.read_csv('../dataset/races.csv')

In [9]:
races.dtypes

_url                    object
name                    object
points                 float64
uci_points             float64
length                 float64
climb_total            float64
profile                float64
startlist_quality        int64
average_temperature    float64
date                    object
position                 int64
cyclist                 object
cyclist_age            float64
is_tarmac                 bool
is_cobbled                bool
is_gravel                 bool
cyclist_team            object
delta                  float64
dtype: object

Diamo una prima occhiata ai valori mancanti nulli

In [12]:
races.isnull().sum()

_url                        0
name                        0
points                    477
uci_points             338779
length                      0
climb_total            147045
profile                148194
startlist_quality           0
average_temperature    559932
date                        0
position                    0
cyclist                     0
cyclist_age               113
is_tarmac                   0
is_cobbled                  0
is_gravel                   0
cyclist_team           159161
delta                       0
dtype: int64

In [24]:
races[races.isnull().any(axis=1)]

,_url,name,points,uci_points,length,climb_total,profile,startlist_quality,average_temperature,date,position,cyclist,cyclist_age,is_tarmac,is_cobbled,is_gravel,cyclist_team,delta
0,tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,0,sean-kelly,22.0,True,False,False,vini-ricordi-pinarello-sidermec-1986,0.0
1,tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,1,gerrie-knetemann,27.0,True,False,False,norway-1987,0.0
2,tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,2,rene-bittinger,24.0,True,False,False,NaN,0.0
3,tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,3,joseph-bruyere,30.0,True,False,False,navigare-blue-storm-1993,0.0
4,tour-de-france/1978/stage-6,Tour de France,100.0,NaN,162000.0,1101.0,1.0,1241,NaN,1978-07-05 04:02:24,4,sven-ake-nilsson,27.0,True,False,False,spain-1991,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589860,giro-d-italia/2010/stage-1,Giro d'Italia,80.0,16.0,8400.0,60.0,1.0,878,NaN,2010-05-08 00:11:38,192,anders-lund-1,25.0,True,False,False,watney-avia-1972,80.0
589861,giro-d-italia/2010/stage-1,Giro d'Italia,80.0,16.0,8400.0,60.0,1.0,878,NaN,2010-05-08 00:11:40,193,andrea-masciarelli,28.0,True,False,False,NaN,82.0
589862,giro-d-italia/2010/stage-1,Giro d'Italia,80.0,16.0,8400.0,60.0,1.0,878,NaN,2010-05-08 00:11:41,194,marco-corti,24.0,True,False,False,kazakhstan-2001,83.0
589863,giro-d-italia/2010/stage-1,Giro d'Italia,80.0,16.0,8400.0,60.0,1.0,878,NaN,2010-05-08 00:11:48,195,robbie-mcewen,38.0,True,False,False,radio-popular-paredes-boavista-2023,90.0
589864,giro-d-italia/2010/stage-1,Giro d'Italia,80.0,16.0,8400.0,60.0,1.0,878,NaN,2010-05-08 00:11:49,196,martin-pedersen,27.0,True,False,False,kazakhstan-2001,91.0

In [11]:
races.describe()

,points,uci_points,length,climb_total,profile,startlist_quality,average_temperature,position,cyclist_age,delta
count,589388.000000,251086.000000,589865.000000,442820.000000,441671.000000,589865.000000,29933.000000,589865.000000,589752.000000,589865.000000
mean,89.221635,74.601547,166776.180584,2330.469215,2.611611,1101.161178,21.731768,74.219491,28.486208,418.292794
std,54.435330,100.947962,64545.605664,1375.710722,1.491741,380.586928,5.884761,48.404023,3.855631,842.961596
min,18.000000,6.000000,1000.000000,2.000000,1.000000,115.000000,10.000000,0.000000,13.000000,-6906.000000
25%,50.000000,16.000000,152500.000000,1309.000000,1.000000,844.000000,17.000000,32.000000,26.000000,10.000000
50%,80.000000,60.000000,178200.000000,2255.000000,2.000000,988.000000,22.000000,70.000000,28.000000,156.000000
75%,100.000000,100.000000,203500.000000,3273.000000,4.000000,1309.000000,26.000000,112.000000,31.000000,624.000000
max,350.000000,800.000000,338000.000000,6974.000000,5.000000,2047.000000,36.000000,209.000000,56.000000,61547.000000

In [4]:
races.duplicated

<bound method DataFrame.duplicated of                                _url            name  points  uci_points  \
0       tour-de-france/1978/stage-6  Tour de France   100.0         NaN
1       tour-de-france/1978/stage-6  Tour de France   100.0         NaN
2       tour-de-france/1978/stage-6  Tour de France   100.0         NaN
3       tour-de-france/1978/stage-6  Tour de France   100.0         NaN
4       tour-de-france/1978/stage-6  Tour de France   100.0         NaN
...                             ...             ...     ...         ...
589860   giro-d-italia/2010/stage-1   Giro d'Italia    80.0        16.0
589861   giro-d-italia/2010/stage-1   Giro d'Italia    80.0        16.0
589862   giro-d-italia/2010/stage-1   Giro d'Italia    80.0        16.0
589863   giro-d-italia/2010/stage-1   Giro d'Italia    80.0        16.0
589864   giro-d-italia/2010/stage-1   Giro d'Italia    80.0        16.0

          length  climb_total  profile  startlist_quality  \
0       162000.0       1101.0      1.0               1241
1       162000.0       1101.0      1.0               1241
2       162000.0       1101.0      1.0               1241
3       162000.0       1101.0      1.0               1241
4       162000.0       1101.0      1.0               1241
...          ...          ...      ...                ...
589860    8400.0         60.0      1.0                878
589861    8400.0         60.0      1.0                878
589862    8400.0         60.0      1.0                878
589863    8400.0         60.0      1.0                878
589864    8400.0         60.0      1.0                878

        average_temperature                 date  position  \
0                       NaN  1978-07-05 04:02:24         0
1                       NaN  1978-07-05 04:02:24         1
2                       NaN  1978-07-05 04:02:24         2
3                       NaN  1978-07-05 04:02:24         3
4                       NaN  1978-07-05 04:02:24         4
...                     ...                  ...       ...
589860                  NaN  2010-05-08 00:11:38       192
589861                  NaN  2010-05-08 00:11:40       193
589862                  NaN  2010-05-08 00:11:41       194
589863                  NaN  2010-05-08 00:11:48       195
589864                  NaN  2010-05-08 00:11:49       196

                   cyclist  cyclist_age  is_tarmac  is_cobbled  is_gravel  \
0               sean-kelly         22.0       True       False      False
1         gerrie-knetemann         27.0       True       False      False
2           rene-bittinger         24.0       True       False      False
3           joseph-bruyere         30.0       True       False      False
4         sven-ake-nilsson         27.0       True       False      False
...                    ...          ...        ...         ...        ...
589860       anders-lund-1         25.0       True       False      False
589861  andrea-masciarelli         28.0       True       False      False
589862         marco-corti         24.0       True       False      False
589863       robbie-mcewen         38.0       True       False      False
589864     martin-pedersen         27.0       True       False      False

                                cyclist_team  delta
0       vini-ricordi-pinarello-sidermec-1986    0.0
1                                norway-1987    0.0
2                                        NaN    0.0
3                   navigare-blue-storm-1993    0.0
4                                 spain-1991    0.0
...                                      ...    ...
589860                      watney-avia-1972   80.0
589861                                   NaN   82.0
589862                       kazakhstan-2001   83.0
589863   radio-popular-paredes-boavista-2023   90.0
589864                       kazakhstan-2001   91.0

[589865 rows x 18 columns]>